<html lang="{{@site.locale}}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			{{meta_title}}
		</title>

		{{! Preload scripts }}
		<link rel="preload" as="style" href="{{asset 'built/screen.css'}}" />

		{{! Theme assets - use the {asset} helper to reference styles & scripts, this will take care of caching and cache-busting automatically }}
		<link
			rel="stylesheet"
			type="text/css"
			href="{{asset 'built/screen.css'}}"
		/>

		{{! This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag }}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<header class="site-header">
			<div class="container">
				<h1 class="site-title">
					<a href="{{@site.url}}">
						{{@site.title}}
					</a>
				</h1>
				<p class="site-description">
					{{@site.description}}
				</p>
			</div>
		</header>

		<main class="site-main">
      <nav class="fixed bottom-8 left-1/2 -translate-x-1/2 z-50">
        <menu class="flex gap-5 items-center rounded-full shadow-xl py-2 px-4 bg-gray-200/10 backdrop-blur-sm border-3 border-white/50">
          <a href="{{@site.url}}" aria-label="Accueil" class="hover:scale-110 transition-transform">
            <i data-lucide="house" class="size-8"></i>
          </a>
          <a href="/news/" aria-label="Actualités" class="hover:scale-110 transition-transform">
            <i data-lucide="newspaper" class="size-8"></i>
          </a>
          <a href="{{@site.url}}" aria-label="Accueil" class="w-max"><img src="./assets/img/logo-random-quadri.png" class="max-h-8 max-w-8 object-contain"></a>
          <a href="{{@site.url}}" aria-label="Article" class="hover:scale-110 transition-transform">
            <i data-lucide="book-open" class="size-8"></i>
          </a>
          <a href="#" aria-label="Menu" class="hover:scale-110 transition-transform">
            <i data-lucide="menu" class="size-8"></i>
          </a>
        </menu>
      </nav>

			<div class="container">
				{{! Tout le contenu de la page sera injecté ici }}
				{{{body}}}
			</div>
		</main>

		<footer class="bg-primary text-white pt-6 pb-30 px-8">
      <nav class="site-nav mb-6">
        {{navigation}}
      </nav>

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-7 mx-auto mb-6"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>

      {{#if @site.logo}}
        <a href="{{@site.url}}" aria-label="Accueil">
          <img src="{{@site.logo}}" class="mx-auto max-w-34 max-h-20 object-contain" />
        </a>
      {{/if}}
		</footer>


		{{! Scripts JS }}
		<script type="module" src="{{asset 'built/main.js'}}"></script>

		{{! Ghost injecte les scripts nécessaires }}
		{{ghost_foot}}
	</body>
</html>