<html lang="{{@site.locale}}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			{{meta_title}}
		</title>

		{{! Preload scripts }}
		<link rel="preload" as="style" href="{{asset 'built/screen.css'}}" />

		{{! Theme assets - use the {asset} helper to reference styles & scripts, this will take care of caching and cache-busting automatically }}
		<link
			rel="stylesheet"
			type="text/css"
			href="{{asset 'built/screen.css'}}"
		/>

		{{! Lucide Icons }}
		<script src="https://unpkg.com/lucide@latest"></script>

		{{! This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag }}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<header class="site-header">
			<div class="container">
				<h1 class="site-title">
					<a href="{{@site.url}}">
						{{@site.title}}
					</a>
				</h1>
				<p class="site-description">
					{{@site.description}}
				</p>
			</div>
		</header>

		<main class="site-main">
      <nav class="fixed bottom-8 left-1/2 -translate-x-1/2">
        <menu class="flex gap-5 items-center rounded-full shadow-xl py-2 px-4 bg-gray-200/10 border-3 border-white/50">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-8 text-black"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg></a>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-8 text-black"><path d="M15 18h-5"/><path d="M18 14h-8"/><path d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-4 0v-9a2 2 0 0 1 2-2h2"/><rect width="8" height="4" x="10" y="6" rx="1"/></svg></a>
          <a href="/" aria-label="Accueil" class="w-max"><img src="./assets/img/logo-random-quadri.png" class="max-h-8 max-w-8 object-contain"></a>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-8 text-black"><path d="M12 7v14"/><path d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"/></svg></a>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-8 text-black"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg></a>
        </menu>
      </nav>

			<div class="container">
				{{! Tout le contenu de la page sera injecté ici }}
				{{{body}}}
			</div>
		</main>

		<footer class="bg-primary text-white pt-6 pb-30 px-8">
      <nav class="site-nav mb-6">
        {{navigation}}
      </nav>

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-7 mx-auto mb-6"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>

      {{#if @site.logo}}
        <a href="{{@site.url}}" aria-label="Accueil">
          <img src="{{@site.logo}}" class="mx-auto max-w-34 max-h-20 object-contain" />
        </a>
      {{/if}}
		</footer>


		{{! Scripts JS }}
		<script src="{{asset 'js/main.js'}}"></script>

		{{! Initialisation Lucide Icons }}
		<script>
			lucide.createIcons();
		</script>

		{{! Ghost injecte les scripts nécessaires }}
		{{ghost_foot}}
	</body>
</html>